

/******************Footer************************/
footer {
    background-color: #353535;
    color: $bodycolor;
    display: flex;
    flex-direction: column;

    p {
        font-family: 'Shrikhand';
        font-size: 18px;
        margin-top: 0;
    }

    a {
        padding: 5px;
        color: $bodycolor;
    }
}