/******************Heart Icon************************/
@import 'Variables';
@import 'mixins';

.heart__icon {
    margin: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative; 
    .fa-heart {
        position: absolute;
        font-size: 2rem;
        transition: color 2000ms;
    }
    .heart__icon--empty {
        color: black ;
    }
    .heart__icon--full {
        opacity: 0;
        background: linear-gradient($secondaire, $primaire);
        background-clip: text;
        color: transparent;
    }

    &:hover {
        .heart__icon--full {
            opacity: 1;
        }
        .heart__icon--empty {
            opacity: 0;
        }
    }
}