/**************Menu********************/
@import 'Variables';

.menu{
    display: flex;
    flex-direction: column;
}

.imgMenu{
    img{
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 300px;
    }
}

.menu{    
    width: 100%;
    background-color: $main;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transform: translate(0rem, -5rem);
    h1{
        font-family: 'Shrikhand';
        font-size: 1.5rem;
        padding-left: 1rem;
    }      
}

.Entrée, .Plat, .Dessert {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;    
    &__titre {
        text-transform: uppercase;
        position: relative;        
        &::after {
            content: '';
            position: absolute;
            left: 1rem;
            bottom: 0.5rem;
            width: 2.5rem;
            height: 2px;
            background-color: $tertiaire;
        }
    }
    &__carte{
        background-color: $bodycolor;
        position: relative;
        cursor: pointer;        
        width: 80%;
        padding: 1rem;
        margin: 0.5rem;
        border-radius: 1rem;
        &__name{
            font-size: 1.2rem; 
            margin: 0; 
        }     
        &__details{
            font-size: 0.9rem;
            margin: 0;
            }         
        &__prix{
            font-size: 0.9rem;
            font-weight: bold;
        }        
    }
}

.option__prix{
    display: flex;    
    align-items: center;
    justify-content: space-between;  
}



.green-box {         
    border-radius: 1rem;
    position: relative;
    cursor: pointer;        
    width: 90%;
    margin: 0.5rem;
    background-color: $tertiaire;
    display: flex;
    position: relative;
    overflow: hidden;
}

.ellip{   
    white-space: nowrap;
    text-overflow: ellipsis;
}

.blue-box {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;   
    background-color: $bodycolor;
    transition: background-color 0.3s, color 0.3s; /* Ajout de transition */
}

.retract{
    overflow: hidden;
    position: relative;
    transition: width 0.5s ease-in-out, border-top-right-radius 0.5s ease-in-out, border-bottom-right-radius 0.5s ease-in-out;
}

.blue-box:hover {
    width: calc(100% - 6rem);
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
   // background-color: blue; /* Changement de couleur de fond au survol */
}

.check-icon {
    position: absolute;
    right: -3rem;
    top: 50%;
    transform: translateY(-50%);
    transition: right 0.5s ease-in-out;
    opacity: 0;
}

.blue-box:hover + .check-icon {
    right: 1.5rem;
    opacity: 1;
    color: green1;
}

.commander{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    margin: 1rem;    
}



