/******************Général************************/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*border: 1px solid black;*/
}
$primaire: #9356DC;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$green1: #008766;
$main: #EAEAEA;
$bleuclair: #89c8fa;
$bleufoncé:#003a68;
$bodycolor:#fff;


body{
    background:$bodycolor;
    display: flex;
    justify-content: center;
    margin: 0px;
}
.main-container{
    width: 100%;
}

.standard-frame{
    width: 92%;
    padding: 1rem;
    margin: 0px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .logo{
        width: 55%;
        margin: 0.5rem;
    }
    .formulaire{
        background-color: $main;
        box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.15) inset;       
        border: none;
        display: flex;
        justify-content: center;

        .fa-location-dot{
            background-color: $main;
            padding: 1rem;
            border: none;
            cursor: pointer;
        }
        .input-ville{
            border: none;
        }
    }
}

.acceuil{
    background-color: $main;
    box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.15) inset;     
    display: flex;
    flex-direction: column;
    align-items: center;
    

    h1{
        width: 75%;
        font-size: 2rem;
        text-align: center;
        margin: 1rem;
    }

    p{
        width: 90%;
        font-size: 1.2rem;
        text-align: center;
    }

    .btn-resto {
        display: flex;
        align-items: center;
        height: 50px;
        font-size: 16px;
        text-decoration: none;
        color: $bodycolor;
        font-weight: bold;    
        background: linear-gradient(200deg, $primaire -5%, $secondaire 100%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
        border-radius: 2rem;
        border: none;
        padding: 0 1rem;
        cursor: pointer;
    }
}

.Fonction {
    display: flex;
    flex-direction: column;

    ol{
        padding: 0px;
    }

    /* Encercle la numérotation */
    .fonct-ordre {
    list-style-type: none;
        .ordre {
            display: flex;
            align-items: center; // Aligne les éléments verticalement
            margin-bottom: 50px; // Ajoute un espace entre chaque élément de la liste
            
            .card__box__icon {
                margin-right: 30px; // Ajoute un espacement entre l'icône et le texte
            }
        }
    }
      /* fond coloré derrière la numérotation */
  .fonct-ordre li {
    counter-increment: custom-counter;
    position: relative;
    padding-left: 30px; /* Ajuste l'espace pour que le texte ne soit pas caché par le cercle */
  }
  
  .fonct-ordre li::before {
    content: counter(custom-counter);
    display: inline-block;
    color: #fff;
    width: 20px; /* Ajuste la taille du cercle */
    height: 20px; /* Ajuste la taille du cercle */
    border-radius: 50%; /* Assurez-vous que le cercle soit rond */
    text-align: center;
    line-height: 20px; /* Centrez verticalement le numéro */
    background-color: $primaire; /* Couleur de fond du cercle */
    position: absolute;    
    left: -16px; /* Déplacez le cercle vers la gauche */
    top: 50%; /* Centrez verticalement le cercle */
    transform: translateY(-50%); /* Centrez verticalement le cercle */
  }
  
    /* Supprimez le point après le numéro */
    .fonct-ordre li::after {
        content: none;
    }

    li{
        width: 80%;
        background-color: $main;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
        border-radius: 1rem;
        padding: 1rem;
        margin: 2rem 1rem;
    }  
    .fa-store{
        color: $primaire;
    }
}

.resto__cards {
    background-color: $main; 
    .card{
        background-color: $bodycolor;
        border-radius: 1rem;
        width: 100%;
        margin-bottom: 2rem;
        .laPaletteDuGout {
            position: relative;
            img{
                width: 100%;
                height: 200px;
                border-radius: 1rem 1rem 0rem 0rem;
              }
            .annotation {
            background-color: $tertiaire;
            color: $green1;
            position: absolute;
            right: 10px;
            top: 10px;; /* Ajustez la position horizontale de l'annotation selon vos besoins */
            width: 80px;
            height: 29px;
            padding: 5px; /* Espace à l'intérieur de l'annotation */
            border-radius: 5px; /* Bord arrondi de l'annotation */
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
            font-size: 16px; /* Taille de la police de l'annotation */
            text-align: center;
            line-height: 29px;
            }
        }        
    }
}

.card-content{
    display: flex;
    justify-content: space-between;
}
.marg02{
    margin: 0.2rem;
}



a {
    color: black;
    text-decoration: none;
}


.heart__icon {    
    width: 2.5rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: relative; // Ajout pour positionner les pseudo-éléments par rapport à ce conteneur
    
    .fa-heart {
        position: absolute;
        font-size: 2em; // Taille de police ajustée pour remplir l'intérieur de l'icône
        transition: color 400ms; // Ajout de la transition pour l'effet de remplissage
    }

    .heart__icon--empty {
        color: black;
    }

    .heart__icon--full {
        color: transparent; // Rend l'intérieur de l'icône transparent pour le remplissage
       
    }

    &:hover {
        .heart__icon--full {
            color: $primaire; // Change la couleur de remplissage au survol
        }

        .heart__icon--empty {
            opacity: 0;
        }
    }
}



/*
.opacity {
    margin:300px auto;
    display: flex;
    width: 75%;
    align-items: center !important;
    justify-content: center !important;
    font-style: italic !important;
    font-weight: 800 !important;
    color: white;
    font-family: 'Montserrat', sans-serif;
  
      .btn200 {
        border-radius: 25px;
        background-color: $primaire;
        font-size: 45px !important;
        padding: 30px 45px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        &:hover {
          border-radius: 25px;
            &::after {
              border-radius: 25px;
                opacity: 1;
            }
        }
        &::after {
          border-radius: 25px;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: radial-gradient(circle, lighten($primaire, 5) 0%, darken($primaire, 10) 100%);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
    }
    }*/
  



  

  
  

  
  
  
  
  
  
  


