/******************Variables************************/
$primaire: #9356DC;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$green1: #008766;
$main: #EAEAEA;
$bleuclair: #89c8fa;
$bleufoncé: #003a68;
$bodycolor: #fff;