@charset "UTF-8";
/******************Variables************************/
/******************Général************************/
* {
  /*  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
  /*border: 1px solid black;*/
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
}

.standard-frame {
  width: 92%;
  padding: 1rem;
  margin: 0;
}

/******************Lien************************/
a {
  color: black;
  text-decoration: none;
}

/******************Header************************/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .formulaire {
  background-color: #EAEAEA;
  box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.15) inset;
  border: none;
  display: flex;
  justify-content: center;
}
header .formulaire .fa-location-dot {
  background-color: #EAEAEA;
  padding: 1rem;
  border: none;
  cursor: pointer;
}
header .formulaire .input-ville {
  border: none;
}

.logo {
  width: 55%;
  margin: 1rem;
}

.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header__logo .fa-solid {
  margin-right: 2rem;
}

/******************Accueil************************/
.acceuil {
  background-color: #EAEAEA;
  box-shadow: 0px 5px 3px -3px rgba(0, 0, 0, 0.15) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.acceuil h1 {
  width: 75%;
  font-size: 2rem;
  text-align: center;
  margin: 1rem;
}
.acceuil p {
  width: 90%;
  font-size: 1.2rem;
  text-align: center;
}

.btn-resto {
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(200deg, #9356DC -5%, #ff79da 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.45);
  border-radius: 2rem;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
}

/******************Fonction************************/
.Fonction {
  display: flex;
  flex-direction: column;
}
.Fonction ol {
  padding: 0;
}
.Fonction .fonct-ordre {
  list-style-type: none;
}
.Fonction .fonct-ordre .ordre {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.Fonction .fonct-ordre .ordre .card__box__icon {
  margin-right: 30px;
}
.Fonction .fonct-ordre li {
  counter-increment: custom-counter;
  position: relative;
  padding-left: 30px;
}
.Fonction .fonct-ordre li::before {
  content: counter(custom-counter);
  display: inline-block;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  background-color: #9356DC;
  position: absolute;
  left: -16px;
  top: 50%;
  transform: translateY(-50%);
}
.Fonction .fonct-ordre li::after {
  content: none;
}
.Fonction li {
  width: 80%;
  background-color: #EAEAEA;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  padding: 1rem;
  margin: 2rem 1rem;
}
.Fonction .fa-store {
  color: #9356DC;
}

/******************Resto************************/
.resto__cards {
  background-color: #EAEAEA;
}
.resto__cards .card {
  background-color: #fff;
  border-radius: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}
.resto__cards .card .laPaletteDuGout {
  position: relative;
}
.resto__cards .card .laPaletteDuGout img {
  object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0rem 0rem;
}
.resto__cards .card .laPaletteDuGout .annotation {
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 80px;
  height: 29px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  text-align: center;
  line-height: 29px;
}

/******************Card Content************************/
.card-content {
  display: flex;
  justify-content: space-between;
}

.card-txt {
  margin: 1rem;
}

.card-title,
.card-subtitle {
  margin: 0;
  padding: 2px;
}

.marg02 {
  margin: 0.2rem;
}

/******************Heart Icon************************/
.heart__icon {
  margin-right: 1rem;
  width: 2.5rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.heart__icon .fa-heart {
  position: absolute;
  font-size: 2em;
  transition: color 400ms;
}
.heart__icon .heart__icon--empty {
  color: black;
}
.heart__icon .heart__icon--full {
  color: transparent;
}
.heart__icon:hover .heart__icon--full {
  color: #9356DC;
}
.heart__icon:hover .heart__icon--empty {
  opacity: 0;
}

/******************Footer************************/
footer {
  background-color: #353535;
  color: #fff;
  display: flex;
  flex-direction: column;
}
footer p {
  font-family: "Shrikhand";
  font-size: 18px;
  margin-top: 0;
}
footer a {
  padding: 5px;
  color: #fff;
}

/**************Menu********************/
.menu {
  display: flex;
  flex-direction: column;
}

.imgMenu img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 300px;
}

.menu {
  width: 100%;
  background-color: #EAEAEA;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  transform: translate(0rem, -5rem);
}
.menu h1 {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  padding-left: 1rem;
}

.Entrée {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Entrée__titre {
  text-transform: uppercase;
  position: relative;
}
.Entrée__titre::after {
  content: "";
  position: absolute;
  left: 1rem;
  bottom: 0.5rem;
  width: 2.5rem;
  height: 2px;
  background-color: #99e2d0;
}
.Entrée__carte {
  background-color: #fff;
  width: 80%;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 1rem;
}
.Entrée__carte__name {
  font-size: 1.2rem;
  margin: 0;
}
.Entrée__carte__details {
  font-size: 0.9rem;
  margin: 0;
}
.Entrée__carte__prix {
  font-size: 0.9rem;
  font-weight: bold;
}

.option__prix {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commander {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92%;
  margin: 1rem;
}

/*# sourceMappingURL=style.css.map */
